openapi: 3.1.0
info:
  title: Urent API (Unofficial, Reverse-Engineered)
  version: 0.1.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/
  description: '⚠️ Неофициальная спецификация API Urent, составленная на основе анализа
    сетевого трафика мобильного приложения и пользовательских логов.


    - Базовый REST-шлюз: `https://app.urentbike.ru/gatewayclient/api`

    - Авторизация: `Authorization: Bearer <JWT>` (RS256), issuer наблюдался: `https://service.urentbike.ru/identity`

    - Клиент использует дополнительные заголовки `ur-*` и подпись `ur-request-data`
    (алгоритм подписи намеренно не описывается).


    **Важно:** эта спецификация предназначена для документирования наблюдаемого поведения.
    Эндпоинты/поля могут отличаться в разных регионах/версиях приложения.

    '
externalDocs:
  description: Swagger UI
  url: https://harib0dev.github.io/Urent-API-Docs/
x-documentation:
  source: reverse-engineered traffic observations
  safetyNote: Request signing algorithm and bypass techniques are intentionally undocumented.
  schemaPolicy: Unknown response fields are kept via additionalProperties until confirmed.
servers:
- url: https://app.urentbike.ru/gatewayclient/api
  description: Production Gateway (observed)
security:
- bearerAuth: []
tags:
- name: Rental
  description: Аренда и управление поездкой
- name: Transports
  description: Поиск и информация о транспорте
- name: Zones
  description: Зоны и геолокация
- name: Profile
  description: Профиль пользователя
- name: Payments
  description: Платежи и карты
- name: Subscriptions
  description: Подписки и пакеты минут
- name: Powerbank
  description: Повербанки
- name: Auth
  description: Авторизация и токены
- name: Devices
  description: Устройства и push-токены
- name: Feedback
  description: Оценки и обратная связь
- name: Files
  description: Статические файлы приложения
- name: FeatureFlags
  description: Флаги функций и эксперименты
- name: Telemetry
  description: Клиентская телеметрия
- name: Misc
  description: Прочие эндпоинты
- name: Realtime
  description: WebSocket / realtime (через расширения)
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer JWT (наблюдался RS256).
  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      schema:
        type: string
        example: ru
      description: Язык клиента.
    UserAgent:
      name: User-Agent
      in: header
      required: false
      schema:
        type: string
        example: UrentApp/1.91.0 (iOS)
      description: User-Agent мобильного приложения.
    UrLatitude:
      name: ur-latitude
      in: header
      required: false
      schema:
        type: number
        format: double
        example: 55.7558
      description: Широта устройства (клиентский контекст).
    UrLongitude:
      name: ur-longitude
      in: header
      required: false
      schema:
        type: number
        format: double
        example: 37.6173
      description: Долгота устройства (клиентский контекст).
    UrDeviceRegion:
      name: ur-device-region
      in: header
      required: false
      schema:
        type: string
        example: RU
      description: Регион устройства.
    UrTimeZone:
      name: ur-time-zone
      in: header
      required: false
      schema:
        type: string
        example: GMT+3
      description: Часовой пояс устройства.
    UrRequestVersion:
      name: ur-request-version
      in: header
      required: false
      schema:
        type: string
        example: v2
      description: Версия клиентского протокола (наблюдалась `v2`).
    UrRequestData:
      name: ur-request-data
      in: header
      required: false
      schema:
        type: string
        example: 89D026A8BA79...
      description: Подпись запроса (хеш/сигнатура). Алгоритм подписи не описывается.
    EnvironmentInfo:
      name: environment-info
      in: header
      required: false
      schema:
        type: string
        example: '{"device":"iPhone"}'
      description: Служебная информация окружения (часто JSON-строка).
  schemas:
    ObservedMetadata:
      type: object
      description: Метаданные наблюдения. Это расширение документации, а не поле API.
      properties:
        appVersion:
          type: string
          example: 1.91.0
        platform:
          type: string
          enum:
          - ios
          - android
          - unknown
        region:
          type: string
          example: RU
        confidence:
          type: string
          enum:
          - high
          - medium
          - low
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type:
          - string
          - integer
      additionalProperties: true
    OrderMakeRequest:
      type: object
      required:
      - scooter_id
      - tariff_id
      - latitude
      - longitude
      properties:
        scooter_id:
          type: string
          example: S.123
        tariff_id:
          type: string
          example: basic
        latitude:
          type: number
          format: double
          example: 55.7558
        longitude:
          type: number
          format: double
          example: 37.6173
    OrderMakeResponse:
      type: object
      properties:
        order_id:
          type: string
          example: ORD12345
        status:
          type: string
          example: created
        start_time:
          type: string
          format: date-time
      additionalProperties: true
    OrderIdRequest:
      type: object
      required:
      - order_id
      properties:
        order_id:
          type: string
          example: ORD12345
    OrderEndResponse:
      type: object
      properties:
        order_id:
          type: string
        status:
          type: string
          example: ended
        total_cost:
          type: number
          example: 150.0
        currency:
          type: string
          example: RUB
      additionalProperties: true
    Transport:
      type: object
      description: Наблюдаемая модель транспорта. Реальный ответ может содержать дополнительные поля модели, статуса и тарифа.
      properties:
        scooter_id:
          type: string
          example: S.123
        id:
          type: string
          example: S.123
        name:
          type: string
          example: '123'
        latitude:
          type: number
          format: double
          example: 55.7558
        longitude:
          type: number
          format: double
          example: 37.6173
        type:
          type: string
          example: scooter
        model:
          type: string
          example: scooter
        battery_level:
          type: integer
          minimum: 0
          maximum: 100
          example: 87
      additionalProperties: true
    TransportModel:
      type: object
      properties:
        id:
          type:
          - string
          - integer
          example: scooter_basic
        name:
          type: string
          example: Scooter
        type:
          type: string
          example: scooter
      additionalProperties: true
    GeoPoint:
      type: object
      properties:
        latitude:
          type: number
          format: double
          example: 55.7558
        longitude:
          type: number
          format: double
          example: 37.6173
    City:
      type: object
      properties:
        id:
          type:
          - string
          - integer
          example: 1
        name:
          type: string
          example: Москва
        country:
          type: string
          example: RU
      additionalProperties: true
    Zone:
      type: object
      description: Геозона или ограничение на карте. Геометрия и свойства могут отличаться по типу зоны.
      properties:
        id:
          type:
          - string
          - integer
          example: zone_1
        name:
          type: string
          example: Rental zone
        type:
          type: string
          example: rent
        color:
          type: string
          example: '#00AA66'
        geometry:
          type: object
          additionalProperties: true
      additionalProperties: true
    PaymentOperation:
      type: object
      properties:
        id:
          type: string
          example: op_123
        amount:
          type: number
          example: 150
        currency:
          type: string
          example: RUB
        status:
          type: string
          example: success
        created_at:
          type: string
          format: date-time
      additionalProperties: true
    Profile:
      type: object
      properties:
        id:
          type:
          - string
          - integer
          example: user_123
        phone:
          type: string
          description: Маскируйте реальное значение в публичных примерах.
          example: '+70000000000'
        name:
          type: string
          example: User
        email:
          type: string
          format: email
          example: user@example.com
      additionalProperties: true
    ReferralInfo:
      type: object
      properties:
        code:
          type: string
          example: ABC123
        invited_count:
          type: integer
          minimum: 0
          example: 0
      additionalProperties: true
    CashbackBalance:
      type: object
      properties:
        balance:
          type: number
          example: 0
        currency:
          type: string
          example: RUB
      additionalProperties: true
    PaymentOptionsResponse:
      type: object
      properties:
        availableLinkCard:
          type: boolean
        enableBankCardVerification:
          type: boolean
        recurringAps:
          type: array
          items:
            type: string
        replenishmentAps:
          type: array
          items:
            type: string
      additionalProperties: true
    Card:
      type: object
      properties:
        card_id:
          type: string
          example: card_123
        last4:
          type: string
          example: '1234'
        brand:
          type: string
          example: visa
        is_default:
          type: boolean
      additionalProperties: true
    PowerbankStation:
      type: object
      properties:
        id:
          type: string
          example: station_123
        latitude:
          type: number
          format: double
          example: 55.7558
        longitude:
          type: number
          format: double
          example: 37.6173
        available_powerbanks:
          type: integer
          minimum: 0
          example: 4
        free_slots:
          type: integer
          minimum: 0
          example: 8
      additionalProperties: true
    ApiEnvelope:
      type: object
      description: Обёртка ответа, часто встречающаяся в наблюдаемом трафике.
      properties:
        succeeded:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
        entries:
          type: array
          items:
            type: object
            additionalProperties: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    Money:
      type: object
      properties:
        value:
          type: number
          example: 150
        value100:
          type: integer
          example: 15000
        valueFormatted:
          type: string
          example: 150 ₽
        valueFormattedWithoutZero:
          type: string
          example: 150 ₽
        culture:
          type: string
          example: ru-RU
      additionalProperties: true
    IdentifierLocationRequest:
      type: object
      required:
      - Identifier
      properties:
        Identifier:
          type: string
          example: ORD12345
        locationLat:
          type: number
          format: double
          example: 55.7558
        locationLng:
          type: number
          format: double
          example: 37.6173
      additionalProperties: true
    DeviceTokenRequest:
      type: object
      required:
      - deviceToken
      - deviceUniqueId
      properties:
        deviceToken:
          type: string
          description: Push-токен устройства. В публичных примерах должен быть заменён.
          example: push_token_redacted
        deviceUniqueId:
          type: string
          description: Идентификатор устройства. В публичных примерах должен быть заменён.
          example: device_id_redacted
        messagingApiType:
          type: string
          example: apns
        locationLat:
          type: number
          format: double
          example: 55.7558
        locationLng:
          type: number
          format: double
          example: 37.6173
      additionalProperties: true
    ConnectTokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token. Не публикуйте реальные значения.
          example: redacted.jwt.token
        refresh_token:
          type: string
          description: Refresh token. Не публикуйте реальные значения.
          example: refresh_token_redacted
        expires_in:
          type: integer
          example: 3600
        token_type:
          type: string
          example: Bearer
        scope:
          type: string
          example: offline_access
      additionalProperties: true
    RateInfoResponse:
      type: object
      properties:
        succeeded:
          type: boolean
          example: true
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
        transportId:
          type: string
          example: S.123
        userAccountId:
          type: string
          example: user_123
        withInsurance:
          type: boolean
        rate:
          type: object
          properties:
            id:
              type: string
              example: basic
            displayName:
              type: string
              example: Стандартный
            rateType:
              type: string
              example: per_minute
            periodMinute:
              type: integer
              example: 1
            debit:
              $ref: '#/components/schemas/Money'
            activationCost:
              $ref: '#/components/schemas/Money'
            insuranceCost:
              $ref: '#/components/schemas/Money'
          additionalProperties: true
      additionalProperties: true
    OrderActionResponse:
      type: object
      description: Ответ на действия с активным заказом. В реальном ответе много вложенных полей заказа и activity.
      properties:
        succeeded:
          type: boolean
          example: true
        result:
          type: string
          example: success
        type:
          type: string
          example: order
        activity:
          type: object
          additionalProperties: true
        order:
          type: object
          additionalProperties: true
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    OrderInfoResponse:
      type: object
      properties:
        succeeded:
          type: boolean
          example: true
        orderId:
          type: string
          example: ORD12345
        transportIdentifier:
          type: string
          example: S.123
        rateName:
          type: string
          example: Стандартный
        rateType:
          type: string
          example: per_minute
        summaryWithdrawn:
          $ref: '#/components/schemas/Money'
        rateWithdrawn:
          $ref: '#/components/schemas/Money'
        activation:
          $ref: '#/components/schemas/Money'
      additionalProperties: true
    ProfileAggregatedResponse:
      type: object
      properties:
        statisticsTripCount:
          type: integer
          example: 10
        userRatingValue:
          type: number
          example: 4.9
        verificationStatusString:
          type: string
          example: verified
        isSubscriptionActive:
          type: boolean
        subscriptionName:
          type: string
          example: Premium
      additionalProperties: true
    VehicleFeedbackOption:
      type: object
      properties:
        priority:
          type: integer
          example: 1
        vehicleOverallRating:
          type: object
          properties:
            key:
              type: string
              example: good
            value:
              type: string
              example: Хорошо
          additionalProperties: true
        availableOptions:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    FlagrEvaluationBatchRequest:
      type: object
      properties:
        entities:
          type: array
          items:
            type: object
            properties:
              entityID:
                type: string
                example: user_redacted
              entityContext:
                type: object
                additionalProperties: true
            additionalProperties: true
        flagKeys:
          type: array
          items:
            type: string
          example:
          - example_flag
      additionalProperties: true
    FlagrEvaluationBatchResponse:
      type: object
      properties:
        evaluationResults:
          type: array
          items:
            type: object
            properties:
              flagID:
                type: integer
              flagKey:
                type: string
              flagSnapshotID:
                type: integer
              timestamp:
                type: string
                format: date-time
              evalContext:
                type: object
                additionalProperties: true
            additionalProperties: true
      additionalProperties: true
    TelemetryEvent:
      type: object
      description: Клиентское событие логирования. Наблюдаемые payload могут содержать персональные поля; реальные значения нельзя публиковать.
      properties:
        action:
          type: string
        app_version:
          type: string
          example: 1.80.0
        app_build_number:
          type: string
          example: '7'
        facility:
          type: string
        level:
          type: integer
        message:
          type: string
        user_id:
          type: string
          description: Должен быть обезличен.
          example: user_redacted
        session_id:
          type: string
          description: Должен быть обезличен.
          example: session_redacted
      additionalProperties: true
    PromocodeRequest:
      type: object
      required:
      - promocode
      properties:
        promocode:
          type: string
          example: FREE2025
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
paths:
  /v1/order/make:
    post:
      summary: Старт аренды (создать заказ)
      operationId: createRentalOrder
      tags:
      - Rental
      parameters:
      - &id001
        $ref: '#/components/parameters/AcceptLanguage'
      - &id002
        $ref: '#/components/parameters/UserAgent'
      - &id003
        $ref: '#/components/parameters/UrLatitude'
      - &id004
        $ref: '#/components/parameters/UrLongitude'
      - &id005
        $ref: '#/components/parameters/UrDeviceRegion'
      - &id006
        $ref: '#/components/parameters/UrTimeZone'
      - &id007
        $ref: '#/components/parameters/UrRequestVersion'
      - &id008
        $ref: '#/components/parameters/UrRequestData'
      - &id009
        $ref: '#/components/parameters/EnvironmentInfo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderMakeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      description: Создаёт заказ на старт аренды. На практике сервер сверяет координаты
        из body/query и заголовков `ur-latitude/ur-longitude` и может требовать `ur-request-data`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderMakeRequest'
            examples:
              example:
                value:
                  scooter_id: S.123
                  tariff_id: basic
                  latitude: 55.7558
                  longitude: 37.6173
  /v1/order/end:
    post:
      summary: Завершить аренду
      operationId: endRentalOrder
      tags:
      - Rental
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEndResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderIdRequest'
  /v1/orders/wait:
    post:
      summary: Пауза аренды
      operationId: pauseRentalOrder
      tags:
      - Rental
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderIdRequest'
  /v1/orders/continue:
    post:
      summary: Продолжить аренду (снять с паузы)
      operationId: continueRentalOrder
      tags:
      - Rental
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderIdRequest'
  /v2/order/photo:
    post:
      summary: Загрузить фото после завершения поездки
      operationId: uploadOrderPhoto
      tags:
      - Rental
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - order_id
              - photo
              properties:
                order_id:
                  type: string
                  example: ORD12345
                photo:
                  type: string
                  format: binary
  /v6/transports:
    get:
      summary: Поиск транспорта в радиусе
      operationId: listTransports
      tags:
      - Transports
      parameters:
      - name: includeEmptyParkings
        in: query
        required: true
        schema:
          type: boolean
          example: true
      - name: latitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: longitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: locationLat
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: radiusByMeters
        in: query
        required: true
        schema:
          type: integer
          example: 500
      - name: withEBikes
        in: query
        required: true
        schema:
          type: boolean
          example: true
      - name: zoom
        in: query
        required: true
        schema:
          type: integer
          example: 16
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/transports/S.{scooter_id}:
    get:
      summary: Информация о транспорте по ID
      operationId: getTransportById
      tags:
      - Transports
      parameters:
      - name: scooter_id
        in: path
        required: true
        schema:
          type: string
          example: '123'
        description: ID транспорта без префикса `S.` в пути.
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/bikes/models:
    get:
      summary: Список моделей транспорта
      operationId: listBikeModels
      description: Возвращает наблюдаемый список моделей транспорта, доступных клиенту.
      tags:
      - Transports
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportModel'
              examples:
                example:
                  value:
                  - id: scooter_basic
                    name: Scooter
                    type: scooter
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/zones/uses:
    get:
      summary: Активные зоны сервиса
      operationId: listActiveServiceZones
      description: Возвращает зоны, которые клиент отображает как активные сервисные области.
      tags:
      - Zones
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
              examples:
                example:
                  value:
                  - id: zone_1
                    name: Service zone
                    type: service
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/zones/rent:
    get:
      summary: Зоны, где доступна аренда
      operationId: listRentalZones
      description: Возвращает зоны, в которых клиент разрешает старт или продолжение аренды.
      tags:
      - Zones
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
              examples:
                example:
                  value:
                  - id: rent_1
                    name: Rental zone
                    type: rent
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v5/zones/general:
    get:
      summary: Общие зоны/ограничения (например, скорость)
      operationId: listGeneralZones
      description: Возвращает общие геозоны и ограничения, например области сниженной скорости.
      tags:
      - Zones
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
              examples:
                example:
                  value:
                  - id: slow_1
                    name: Slow speed zone
                    type: speed_limit
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/location/geolocation:
    get:
      summary: Определение города по координатам
      operationId: resolveLocationCity
      description: Определяет город или регион обслуживания по переданным координатам.
      tags:
      - Zones
      parameters:
      - name: lat
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: lng
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
              examples:
                example:
                  value:
                    id: 1
                    name: Москва
                    country: RU
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile:
    get:
      summary: Профиль пользователя
      operationId: getProfile
      description: Возвращает профиль авторизованного пользователя. Публичные примеры должны быть обезличены.
      tags:
      - Profile
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
              examples:
                example:
                  value:
                    id: user_123
                    phone: '+70000000000'
                    name: User
                    email: user@example.com
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/device:
    post:
      summary: Привязать/обновить данные устройства
      operationId: upsertProfileDevice
      tags:
      - Profile
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - device_id
              - device_type
              properties:
                device_id:
                  type: string
                device_type:
                  type: string
                  enum:
                  - ios
                  - android
  /v1/profile/my/activegoals:
    get:
      summary: Активные аренды/цели
      operationId: listActiveGoals
      tags:
      - Profile
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/my/referralinfo:
    get:
      summary: Реферальная информация
      operationId: getReferralInfo
      tags:
      - Profile
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralInfo'
              examples:
                example:
                  value:
                    code: ABC123
                    invited_count: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/my/promoactions:
    get:
      summary: Доступные промоакции
      operationId: listPromoActions
      tags:
      - Profile
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/promocode:
    post:
      summary: Активация промокода
      operationId: activatePromocode
      tags:
      - Profile
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromocodeRequest'
  /v2/payment/operations:
    get:
      summary: История операций
      operationId: listPaymentOperations
      description: Возвращает историю платёжных операций пользователя. Не публикуйте реальные платёжные идентификаторы.
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentOperation'
              examples:
                example:
                  value:
                  - id: op_123
                    amount: 150
                    currency: RUB
                    status: success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/places/payment_options:
    get:
      summary: Способы оплаты (payment options)
      operationId: getPaymentOptions
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/cards:
    get:
      summary: Получить привязанные карты
      operationId: listCards
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/cards/withPendings:
    get:
      summary: Карты с незавершёнными операциями
      operationId: listCardsWithPendings
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/cards/{card_id}:
    delete:
      summary: Удалить (отвязать) карту
      operationId: deleteCard
      tags:
      - Payments
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          example: card_123
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      description: В исходном markdown встречается ошибочный путь `cards/cards/{id}`
        — корректнее использовать REST-подход `/v1/cards/{card_id}` (DELETE).
  /v1/payment/acquiring_settings:
    get:
      summary: Настройки эквайринга
      operationId: getAcquiringSettings
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/payment/profile:
    get:
      summary: Платёжный профиль (в т.ч. промоистория)
      operationId: getPaymentProfile
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/cloudpayments/card:
    post:
      summary: Привязать новую карту (CloudPayments)
      operationId: createCloudPaymentsCard
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - card_number
              - exp_date
              - cvv
              properties:
                card_number:
                  type: string
                  description: Не публикуйте реальные номера карт. Значение в примере обезличено.
                  example: '411111******1111'
                exp_date:
                  type: string
                  example: 12/27
                cvv:
                  type: string
                  example: '123'
  /v1/cloudpayments/post3ds:
    post:
      summary: Завершить 3DS (CloudPayments)
      operationId: completeCloudPayments3ds
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction_id
              - pa_res
              properties:
                transaction_id:
                  type: string
                  example: tx_123
                pa_res:
                  type: string
                  example: '...'
  /v1/subscriptions/my:
    get:
      summary: Моя активная подписка
      operationId: getMySubscription
      tags:
      - Subscriptions
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/subscriptions/get_availables:
    get:
      summary: Доступные подписки
      operationId: listAvailableSubscriptions
      tags:
      - Subscriptions
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/subscriptions/promo_banners:
    get:
      summary: Промо-баннеры подписок
      operationId: listSubscriptionPromoBanners
      tags:
      - Subscriptions
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/customerMinutePass/my:
    get:
      summary: Мои пакеты минут
      operationId: listMyMinutePasses
      tags:
      - Subscriptions
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/minutePass/availables:
    get:
      summary: Доступные пакеты минут
      operationId: listAvailableMinutePasses
      tags:
      - Subscriptions
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/CustomerDailyPass/my:
    get:
      summary: Мой Daily Pass
      operationId: getMyDailyPass
      tags:
      - Subscriptions
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /powerbank/v1/activity:
    get:
      summary: Активные аренды повербанков
      operationId: listPowerbankActivities
      tags:
      - Powerbank
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /powerbank/v1/models:
    get:
      summary: Модели повербанков
      operationId: listPowerbankModels
      tags:
      - Powerbank
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /powerbank/v1/stations:
    get:
      summary: Станции повербанков (поиск)
      operationId: listPowerbankStations
      tags:
      - Powerbank
      parameters:
      - name: latitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: longitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: locationLat
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: radiusByMeters
        in: query
        required: true
        schema:
          type: integer
          example: 500
      - name: modelId
        in: query
        required: false
        schema:
          type: string
          example: pb_1
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PowerbankStation'
              examples:
                example:
                  value:
                  - id: station_123
                    latitude: 55.7558
                    longitude: 37.6173
                    available_powerbanks: 4
                    free_slots: 8
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/activity:
    get:
      summary: Лимиты/активность (например, max_rentals)
      operationId: getActivityLimits
      tags:
      - Misc
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/orders/aggregation:
    get:
      summary: Агрегация заказов (в т.ч. повербанк)
      operationId: getOrdersAggregation
      tags:
      - Misc
      parameters:
      - name: locationLat
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: transportType
        in: query
        required: true
        schema:
          type: string
          example: powerbank
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/cities:
    get:
      summary: Список городов
      operationId: listCities
      description: Возвращает города, известные клиенту или доступные в регионе.
      tags:
      - Zones
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/City'
              examples:
                example:
                  value:
                  - id: 1
                    name: Москва
                    country: RU
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/mobile/mtsidcheck:
    get:
      summary: Проверка MTS ID
      operationId: checkMtsId
      tags:
      - Misc
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /payment/cashback-balance:
    get:
      summary: Баланс кэшбэка
      operationId: getCashbackBalance
      description: Возвращает текущий баланс кэшбэка пользователя.
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashbackBalance'
              examples:
                example:
                  value:
                    balance: 0
                    currency: RUB
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/places/my:
    get:
      summary: Место/депозит/лимиты (my place)
      operationId: getMyPlace
      tags:
      - Payments
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/connect/token:
    post:
      summary: Получить пару access/refresh token
      operationId: createConnectToken
      tags:
      - Auth
      security: []
      description: Наблюдалось в Loon-сессии 2025-09-22. Тело запроса не фиксируется
        в публичной спецификации, чтобы не публиковать секреты/учётные данные.
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/devices/my/token:
    post:
      summary: Обновить push-токен устройства
      operationId: updateMyDeviceToken
      tags:
      - Devices
      description: Наблюдалось в Loon-сессии 2025-09-22. Значения deviceToken/deviceUniqueId
        должны быть обезличены в публичных примерах.
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTokenRequest'
  /v1/order/wait:
    post:
      summary: Пауза аренды (singular path)
      operationId: pauseRentalOrderSingular
      tags:
      - Rental
      description: В Loon-сессии 2025-09-22 наблюдался путь `/v1/order/wait`.
        В старых материалах также встречается `/v1/orders/wait`.
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierLocationRequest'
  /v1/order/resume:
    post:
      summary: Продолжить аренду (resume)
      operationId: resumeRentalOrder
      tags:
      - Rental
      description: В Loon-сессии 2025-09-22 наблюдался путь `/v1/order/resume`.
        В старых материалах также встречается `/v1/orders/continue`.
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierLocationRequest'
  /v2/order/end:
    post:
      summary: Завершить аренду (v2)
      operationId: endRentalOrderV2
      tags:
      - Rental
      description: V2-вариант завершения аренды, наблюдался в Loon-сессии 2025-09-22.
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifierLocationRequest'
  /v1/order/verify/S.{scooter_id}:
    get:
      summary: Проверить возможность старта аренды
      operationId: verifyRentalOrderByTransport
      tags:
      - Rental
      description: >-
        Проверяет транспорт перед стартом аренды: тариф, заряд, страховку
        и состояние геолокации. Наблюдалось в Loon-сессии 2025-09-22.
      parameters:
      - name: scooter_id
        in: path
        required: true
        schema:
          type: string
          example: '123'
      - name: latitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: longitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: accuracy
        in: query
        required: false
        schema:
          type: number
          example: 20
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateInfoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/orderinfo/{order_id}/info:
    get:
      summary: Детали завершённого/активного заказа
      operationId: getOrderInfo
      tags:
      - Rental
      description: Возвращает финансовые и тарифные детали заказа. Наблюдалось
        в Loon-сессии 2025-09-22.
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          example: ORD12345
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInfoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/profile/rate/S.{scooter_id}:
    get:
      summary: Тариф для транспорта
      operationId: getProfileRateByTransport
      tags:
      - Profile
      description: Возвращает тарифные условия для конкретного транспорта. В сессии
        2025-09-22 этот эндпоинт встречался чаще всего среди gateway-запросов.
      parameters:
      - name: scooter_id
        in: path
        required: true
        schema:
          type: string
          example: '123'
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateInfoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/aggregated:
    get:
      summary: Агрегированная информация профиля
      operationId: getProfileAggregated
      tags:
      - Profile
      description: >-
        Возвращает краткую агрегированную информацию: статистику поездок,
        рейтинг, статус верификации и подписку.
      parameters:
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAggregatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/my/goals:
    get:
      summary: Цели профиля по заказу
      operationId: getProfileGoals
      tags:
      - Profile
      description: Похож на activegoals, но в наблюдении принимал `orderId` как query-параметр.
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: string
          example: ORD12345
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/profile/warning:
    get:
      summary: Предупреждение профиля/региона
      operationId: getProfileWarning
      tags:
      - Profile
      description: Возвращает текст предупреждения для текущего места/региона.
      parameters:
      - name: placeCode
        in: query
        required: false
        schema:
          type: string
          example: RU
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/vehiclefeedback/options:
    get:
      summary: Опции обратной связи по транспорту
      operationId: listVehicleFeedbackOptions
      tags:
      - Feedback
      description: Возвращает варианты оценки/обратной связи для транспорта.
      parameters:
      - name: vehicleType
        in: query
        required: true
        schema:
          type: string
          example: scooter
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleFeedbackOption'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/customerAbonements/my:
    get:
      summary: Мои абонементы
      operationId: listMyCustomerAbonements
      tags:
      - Subscriptions
      description: Наблюдалось в Loon-сессии 2025-09-22. Название пути содержит
        `Abonements`, как в клиентском запросе.
      parameters:
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/minutePass/availables:
    get:
      summary: Доступные пакеты минут (v2)
      operationId: listAvailableMinutePassesV2
      tags:
      - Subscriptions
      description: V2-вариант списка пакетов минут, наблюдался в Loon-сессии 2025-09-22.
      parameters:
      - name: cityId
        in: query
        required: false
        schema:
          type: string
          example: city_1
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/subscriptions/my:
    get:
      summary: Моя активная подписка (v2)
      operationId: getMySubscriptionV2
      tags:
      - Subscriptions
      description: V2-вариант подписок пользователя, наблюдался в Loon-сессии 2025-09-22.
      parameters:
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v5/subscriptions/get_availables:
    get:
      summary: Доступные подписки (v5)
      operationId: listAvailableSubscriptionsV5
      tags:
      - Subscriptions
      description: V5-вариант списка подписок. Наблюдался с query-параметром `brand`.
      parameters:
      - name: brand
        in: query
        required: false
        schema:
          type: string
          example: urent
      - name: locationLat
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: false
        schema:
          type: number
          format: double
          example: 37.6173
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/subscriptions/promo_banners:
    get:
      summary: Промо-баннеры подписок (v3)
      operationId: listSubscriptionPromoBannersV3
      tags:
      - Subscriptions
      description: V3-вариант промо-баннеров подписок, наблюдался в Loon-сессии 2025-09-22.
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v4/subscriptions/promo_banners:
    get:
      summary: Промо-баннеры подписок (v4)
      operationId: listSubscriptionPromoBannersV4
      tags:
      - Subscriptions
      description: V4-вариант промо-баннеров подписок, наблюдался в Loon-сессии 2025-09-22.
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /powerbank/v1/nearest:
    get:
      summary: Ближайшая станция повербанков
      operationId: getNearestPowerbankStation
      tags:
      - Powerbank
      description: >-
        Возвращает ближайшую станцию повербанков или `station: null`.
      parameters:
      - name: latitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: longitude
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: locationLat
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 55.7558
      - name: locationLng
        in: query
        required: true
        schema:
          type: number
          format: double
          example: 37.6173
      - name: radiusbymeters
        in: query
        required: false
        schema:
          type: integer
          example: 500
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  succeeded:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  station:
                    oneOf:
                    - $ref: '#/components/schemas/PowerbankStation'
                    - type: 'null'
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/transports/s.{scooter_id}:
    get:
      summary: Информация о транспорте по ID (lowercase s)
      operationId: getTransportByLowercaseId
      tags:
      - Transports
      description: В Loon-сессии 2025-09-22 наблюдался lowercase-вариант пути
        `/v3/transports/s.{id}`. Схема ответа близка к `/v3/transports/S.{id}`.
      parameters:
      - name: scooter_id
        in: path
        required: true
        schema:
          type: string
          example: '123'
      - name: isQrCode
        in: query
        required: false
        schema:
          type: boolean
      - name: useBluetooth
        in: query
        required: false
        schema:
          type: boolean
      - name: withEBikes
        in: query
        required: false
        schema:
          type: boolean
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - *id007
      - *id008
      - *id009
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /file/{date}/{file_name}:
    get:
      summary: Статический файл приложения
      operationId: getAppFile
      tags:
      - Files
      security: []
      servers:
      - url: https://app.urentbike.ru
        description: App static files host
      description: Наблюдалась загрузка PNG-файла с `app.urentbike.ru/file/...`.
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          example: '20250912'
      - name: file_name
        in: path
        required: true
        schema:
          type: string
          example: image.png
      responses:
        '200':
          description: File content
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
  /flagr/api/v1/evaluation/batch:
    post:
      summary: Batch evaluation feature flags
      operationId: evaluateFeatureFlagsBatch
      tags:
      - FeatureFlags
      security: []
      servers:
      - url: https://app.urentbike.ru
        description: Observed app host
      - url: https://backyard.urentbike.ru
        description: Observed backyard host
      description: Наблюдался batch-запрос к Flagr для флагов функций/экспериментов.
        Идентификаторы сущностей должны быть обезличены.
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlagrEvaluationBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlagrEvaluationBatchRequest'
  /:
    post:
      summary: Отправить клиентскую телеметрию
      operationId: sendTelemetryEvents
      tags:
      - Telemetry
      security: []
      servers:
      - url: https://lg.service.urentbike.ru
        description: Observed telemetry host
      description: Наблюдалось большое количество POST-запросов к лог-сервису.
        Payload может содержать персональные поля, поэтому спецификация описывает
        только обезличенную форму события.
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TelemetryEvent'
  /v1/weather/{locale}/{lat}/{lng}:
    get:
      summary: Погода (обнаружено в трафике)
      operationId: getWeather
      tags:
      - Misc
      security: []
      parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
          example: ru_RU
      - name: lat
        in: path
        required: true
        schema:
          type: string
          example: '55.65'
      - name: lng
        in: path
        required: true
        schema:
          type: string
          example: '37.75'
      - name: units
        in: query
        required: false
        schema:
          type: string
          example: m
      - name: include
        in: query
        required: false
        schema:
          type: string
          example: current_observations,hourly_forecast,daily_forecast,now_links,severe_weather,next_hour_forecast
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      description: Эндпоинт погоды встречался в пользовательском zip-архиве. Хост
        может отличаться от gateway.
  /ws:
    get:
      summary: WebSocket подключение (realtime)
      operationId: connectRealtimeWebSocket
      tags:
      - Realtime
      security: []
      servers:
      - url: https://notification.service.urentbike.ru
        description: Observed notification WebSocket host
      parameters:
      - name: authtoken
        in: query
        required: true
        schema:
          type: string
          description: JWT (как query параметр)
      responses:
        '101':
          description: Switching Protocols (WebSocket)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      description: >-
        Наблюдалось подключение вида `/ws?authtoken=<JWT>` и WebSocket upgrade
        на notification-хосте. Формат сообщений зависит от клиента/версии и не
        стандартизирован в OpenAPI.
      x-websocket: true
